
# Base de Datos Keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=una_contraseña_de_BD_muy_segura

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin_secreto_keycloak_cambiame
DB_JDBC_URL=jdbc:postgresql://postgres_iam:5432/keycloak
KEYCLOAK_CLIENT_ID=facturacion
KEYCLOAK_CLIENT_SECRET=xxfadfsasdfasdfdsafasd