
# Base de Datos Keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=una_contraseña_de_BD_muy_segura

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_secreto_keycloak_cambiame
DB_JDBC_URL=jdbc:postgresql://postgres_iam:5432/keycloak
